canvas {
    position: relative;
    z-index: -3 !important;
  }

body {
    background: rgb(240, 240, 240);
    background: linear-gradient(90deg, rgb(182, 181, 181), rgba(145, 152, 229));
    font-family: "HelveticaNeue-Light", "Helvetica Neue Light", "Helvetica Neue", 
    Helvetica, Arial, "Lucida Grande", sans-serif;
}

.nav-link {
  font-weight: normal;
  font-family: Rockwell, "Courier New", Courier, Georgia, Times, "Times New Roman", serif;
}

.navbar-brand {
  font-weight: normal;
  font-family: Rockwell, "Courier New", Courier, Georgia, Times, "Times New Roman", serif;
}

h1.mt-5 {
  font-weight: bold;
  font-family: Rockwell, "Courier New", Courier, Georgia, Times, "Times New Roman", serif;
}

h4.date {
  font-weight: bold;
  font-family: "Helvetica Neue", Helvetica, Arial, "Lucida Grande", sans-serif;
}

h5.date {
  font-weight: bold;
  font-family: "Helvetica Neue", Helvetica, Arial, "Lucida Grande", sans-serif;
}

.tuesday {
  width: 50%;
  float: left;
  padding: 2px;
  overflow: auto;
  border-right: 1px solid rgba(0, 0, 0, 0.1);
  font-size: 12px;
}

.thursday {
  width: 50%;
  padding: 2px;
  overflow: auto;
  font-size: 12px;
}

.dayscontainer {
  width: 100%;
  height: 200px;
  text-align: left;
  background: rgba(255, 255, 255, 0.2);
  overflow: scroll;
}

.weekcontainer {
  text-align: left;
  width: 90%;
  border-style: solid;
  display: block;
  border-width: thin;
  padding: 5px;
  margin: 5px;
  background: rgba(255, 255, 255, 0.08);
}

.basiccontainer {
  width: 100%;
  margin: auto;
  border-style: solid;
  display: block;
  border-width: thin;
  padding: 20px;
  background: rgba(255, 255, 255, 0.08);
  font-family: "HelveticaNeue-Light", "Helvetica Neue Light", "Helvetica Neue", 
  Helvetica, Arial, "Lucida Grande", sans-serif;
}

.resources-sub {
  font-weight: bold;
  font-size: 20px;
}

.resources-subsub {
  font-weight: bold;
  font-size: 18px;
}

hr {
  padding: 0px;
  margin: 0px;
}

a {
  color: #3646ff;
}

a:hover {
  color: #737efa;
}

a:active {
  color: #e66464;
  background: #737efa;
}

ul {
  margin-left:0px;
  padding-left: 15px;
}

.resourcessection {
  background: rgba(255, 255, 255, 0.2);
  font-size: 12px;
  border-style: solid;
  border-width: thin;
  font-family: "HelveticaNeue-Light", "Helvetica Neue Light", "Helvetica Neue", 
  Helvetica, Arial, "Lucida Grande", sans-serif;
}

ul.resources {
  margin-left: 10px;
}

@media only screen and (min-width: 400px) {
  .tuesday {
    font-size: 14px;
  }
  
  .thursday {
    font-size: 14px;
  }

  .resourcessection {
    font-size: 14px;
  }
}

