@import url('https://fonts.googleapis.com/css2?family=Nova+Mono&display=swap');

canvas {
    position: relative;
    z-index: -3 !important;
  }

body {
    background: #000000;
    font-family: "HelveticaNeue-Light", "Helvetica Neue Light", "Helvetica Neue", 
    Helvetica, Arial, "Lucida Grande", sans-serif;
}

nav {
  text-align: center;
}

.nav-link {
  font-weight: normal;
  font-family: 'Nova Mono', monospace;
  text-decoration: none;
}

.navbar-brand {
  font-size: 1.5rem;
  font-weight: normal;
  font-family: 'Nova Mono', monospace;
  text-decoration: none;
}

h1.mt-5 {
  font-weight: normal;
  font-family: Rockwell, "Courier New", Courier, Georgia, Times, "Times New Roman", serif;
  color: #ffffff;
}

h4.date {
  font-weight: bold;
  font-family: "Helvetica Neue", Helvetica, Arial, "Lucida Grande", sans-serif;
}

h4.projecttitle {
  font-weight: bold;
  font-family: "Helvetica Neue", Helvetica, Arial, "Lucida Grande", sans-serif;
}

h5.date {
  font-weight: bold;
  font-family: "Helvetica Neue", Helvetica, Arial, "Lucida Grande", sans-serif;
}

.tuesday {
  width: 50%;
  float: left;
  padding: 2px;
  overflow: auto;
  border-right: 1px solid rgba(0, 0, 0, 0.1);
  font-size: 12px;
}

.thursday {
  width: 50%;
  padding: 2px;
  overflow: auto;
  font-size: 12px;
}

.dayscontainer {
  width: 100%;
  height: 200px;
  text-align: left;
  background: rgba(255, 255, 255, 1);
  color: #000000;
  overflow: scroll;
}

.weekcontainer {
  text-align: left;
  width: 90%;
  border-style: solid;
  border-color: #B3D334;
  display: block;
  border-width: thin;
  padding: 5px;
  margin: 5px;
  color: #EA638A;
  background: rgba(0, 0, 0, 1);
}

.projectcontainer {
  text-align: left;
  width: 90%;
  border-style: solid;
  display: block;
  border-width: thin;
  padding: 5px;
  margin: 5px;
  background: rgba(0, 0, 0, 1);
}

.projectdescription {
  width: 100%;
  height: 50px;
  text-align: left;
  background: rgba(255, 255, 255, 1);
  overflow: scroll;
}

.basiccontainer {
  width: 100%;
  margin: auto;
  border-style: solid;
  display: block;
  border-width: thin;
  padding: 20px;
  background: rgba(255, 255, 255, 1);
  font-family: "HelveticaNeue-Light", "Helvetica Neue Light", "Helvetica Neue", 
  Helvetica, Arial, "Lucida Grande", sans-serif;
}

.resources-sub {
  font-weight: bold;
  font-size: 20px;
}

.resources-subsub {
  font-weight: bold;
  font-size: 18px;
}

hr {
  padding: 0px;
  margin: 0px;
}

a {
  color: #EA638A;
  text-decoration: underline;
}

a:hover {
  color: #7efa73;
}

a:active {
  color: #e66464;
  background: #737efa;
}

ul {
  margin-left:0px;
  padding-left: 15px;
}

.resourcessection {
  background: rgba(255, 255, 255, 1);
  font-size: 12px;
  border-style: solid;
  border-width: thin;
  font-family: "HelveticaNeue-Light", "Helvetica Neue Light", "Helvetica Neue", 
  Helvetica, Arial, "Lucida Grande", sans-serif;
}

.resourcessubcontainer {
  display: none;
}

ul.resources {
  margin-left: 10px;
}


.imgbanner {
    width: 350px;
}

@media only screen and (min-width: 400px) {
  .tuesday {
    font-size: 14px;
  }
  
  .thursday {
    font-size: 14px;
  }

  .resourcessection {
    font-size: 14px;
  }
}

@media only screen and (min-width: 400px) {
  .imgbanner {
    width: 400px;
  }
}

@media only screen and (min-width: 600px) {
  .imgbanner {
    width: 600px;
  }
}

@media only screen and (min-width: 1000px) {
  .imgbanner {
    width: 1000px;
  }
}

